PORT=5000
MONGODB_URI=mongodb+srv://Ajeet:Admin123@cluster0.g3yyskw.mongodb.net/?appName=Cluster0
KHALTI_SECRET_KEY=b1057ac13acf44b9905f41f9212e4b9b
KHALTI_PUBLIC_KEY=e252b2a62f164087b432f4fbcd30d8e9
BASE_URL=http://localhost:5000
